<nav class="navbar navbar-expand bg-dark border-bottom border-body mb-5 fixed-top" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('app_homepage') }}">BetterWeather</a>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown dropright"> 
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ "Cities" | trans }}  
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        {% for cityName in get_city_names() %}
                            <li><a class="dropdown-item" href="{{ path('app_location', {city: cityName} ) }}">{{ cityName }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="nav-item dropdown dropright">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ app.request.locale }} 
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}">English</a></li>
                        <li><a class="dropdown-item" href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'de'})) }}">Deutsch</a></li>
                        <li><a class="dropdown-item" href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'nl'})) }}">Nederlands</a></li>                    
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
